MISTRAL_API_KEY=your_mistral_api_key_here
LINKEDIN_EMAIL=your_linkedin_email_here
LINKEDIN_PASSWORD=your_linkedin_password_here
MIN_SALARY=100000
SEARCH_LOCATION=Orlando, Florida, United States
RADIUS_MILES=25
MAX_DAYS_OLD=14
RESULTS_PER_SEARCH=15
INCLUDE_REMOTE=True
